$primary-color: #007bff;
$hover-color: #0056b3;
$background-color: #f5f5f5;
$input-border-color: #ccc;
$error-color: red;
$success-color: green;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

$dropdown-background: white;
$dropdown-border-color: #ccc;
$dropdown-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$hover-background-color: #f5f5f5;
$flag-icon-size: 20px;
$button-font-size: 20px;